header .navbar-fixed-top {
  background-color: #27AD60;
}
header .navbar-collapse {
  border: none; }
header .navbar-default .navbar-nav li a {
  font-weight: 300;
  font-size: 15px;
  color: white; 
  font-family: 'Montserrat';
  transition: 0.5s;
}
  header .navbar-default .navbar-nav li a:hover {
    color: black;
    background:none;
    font-family: 'Montserrat';
  }
body  {
  padding-top:40px;
  font-family: 'Montserrat';
  color: white;

}
h1{
  font-family: 'Montserrat';
}
.opacity img {
    width: 200px;
    border-radius: 100%;
    margin-top: 100px;
}
header .navbar-fixed-top .navbar-header a{
    color: white;
    font-size: 2em;
    transition: 0.5s;
    font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
}
.navbar-default .navbar-brand:hover{
  background: none;
}
.hero-img{
  background-size: cover;
  background-image: url('../img/hero.jpg');
  background-attachment: fixed;

}
.opacity {
  background-color: rgba(0,0,0,0.5);
  height: 100vh;
}
.opacity p {
  margin: 20px 0 50px;
}
.boton a{
  background-color: green;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: 10px;
  border: 1px solid green;
  transition:0.7s;
}
.boton a:hover{
  background-color: transparent;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: 10px;
  border: 1px solid white;
}
#screenshots {
    margin-top: 100px;
}
.screen {
  width: 240px;
  height: 425px;
}
